body {
	background-color: lightblue;
}

#page {
	margin: auto;
	max-width: 1000px;
	min-width: 500px;
}

#gameHeader {
	font-size: 45px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-decoration: underline;
	margin: auto;
}

/* Container for game UI elements */
#gameBoxContainer {
	
	border: 2px solid black;
	background-color: #e0e0e0;
	padding: 10px;
	margin: auto;
	border-radius: 10px;
}

#gameStartHeader {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	
}

/* make the colour of the typed text different to give visual feedback to the user */
#gameTextTyped {
	font-family: 'Roboto', sans-serif;
	color: gray;
	font-size: 28px;
	display: inline;
}

#gameTextWrong {
	font-family: 'Roboto', sans-serif;
	color: red;
	font-size: 28px;
	display: inline; 
}

#gameText {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	display: inline; 
}

#progressHeader {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
}

#keyboardProgressIcon {
	width: 150px;
	height: 150px;
	position:relative;
	top:-60px;
}

input {
	width: 100%;
	padding: 12px 20px;
    margin: 4px 0;
	font-family: 'Roboto', sans-serif;
	background-color: white;
    box-sizing: border-box;
	font-size: 20px;
}

/* Make it obvious when they click on the input box*/
input[type=text]:focus {
	background-color: #f2f3fc;
	border: 2px solid black;
}